@mixin marcas ($high, $filter, $transition){
    height: 32px;
    filter: grayscale(100%);
    transition: all 0.5s ease-in-out;
}

@mixin flex ($display, $direction, $wrap, $justify, $align){
    display: $display;
    flex-flow: $direction $wrap;
    justify-content: $justify;
    align-items: $align;
}

@mixin redes ($bg, $radius, $hg, $wd, $fontz, $padding, $bx_sh, $color){
    background: $bg;
    border-radius: $radius;
    height: $hg;
    width: $wd;
    font-size: $fontz;
    padding: $padding;
    box-shadow: $bx_sh;
    color: $color;
}